@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: rgb(252, 251, 251);
  color: black;
  font-family: Google sans;

}
.navbuttons{
  padding: 5px;
  transition: all 0.2s ease-in-out;
  border-radius: 50px;
  cursor: pointer;
  font-family: Google sans;
}

.navbuttons:hover{
  background-color: #fdfdfd44;
  border-radius: 50px;
}
